node_modules
yarn.lock
package-lock.json

# testing
/coverage

# parcel
.parcel-cache
development
build
dist
parcel-bundle-reports

# misc
.DS_Store
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
